@using CryptoApi.Models.DB
@model CCoinsMetaDataM
@inject CBlocksHelperVM BlocksHelper

<h1>Coins meta</h1>
<div class="dc-meta-editor">
    @using (Html.BeginForm("CoinsMeta", "Admin", FormMethod.Post))
    {
        <p>
            <label>coin_id: </label>
            <select name="coin_pair_id" id="coin_pair_id" >
                <option value="" selected disabled hidden></option>
                @foreach (var coin in BlocksHelper.GetCoinList(100))
                {
                    <option value="@coin.data.id">@coin.data.id (@coin.data.name ---/--- @coin.data.name_full)</option>
                }
            </select>
        </p>
        <p>
            <label>group: </label>
            @Html.Editor("group")
        </p>
        <p>
            <label>option: </label>
            @Html.Editor("option")
        </p>
        <p>
            <label>value: </label>
            @Html.TextAreaFor(m => m.value)
        </p>
        <p>
            <label>CCoinDataMid: </label>
            @Html.Editor("CCoinDataMid")
        </p>
        <p>
            <input type="submit" value="post"/>
        </p>
    }
</div>
<a asp-controller="Admin" asp-action="Index" class="dc-admin-back">>back</a>