@using CryptoApi.Models.DB
@model CCoinsMetaDataM

<h1>Coins meta</h1>
<div class="dc-meta-editor">
    @using (Html.BeginForm("CoinsMeta", "Admin", FormMethod.Post))
    {
        <p>
            <label>coin_id: </label>
            @Html.Editor("coin_id")
        </p>
        <p>
            <label>group: </label>
            @Html.Editor("group")
        </p>
        <p>
            <label>option: </label>
            @Html.Editor("option")
        </p>
        <p>
            <label>value: </label>
            @Html.Editor("value")
        </p>
        <p>
            <label>CCoinDataMid: </label>
            @Html.Editor("CCoinDataMid")
        </p>
        <p>
            <input type="submit" value="post"/>
        </p>
    }
</div>
<a asp-controller="Admin" asp-action="Index" class="dc-admin-back">>back</a>