@model CCoinPairVM
<div class="dc-coin-pair-info dcg-tpg"> @*flex*@
    <div class="row">
        <div class="col">
            <table> 
                <tr>
                    <td>
                        <span>Name</span>
                    </td>
                    <td>
                        <span>@Model.pair.data.name_full_1</span>
                    </td>
                    <td>
                        <span>@Model.pair.data.name_full_2</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Symbol</span>
                    </td>
                    <td>
                        <span>@Model.pair.data.name_1</span>
                    </td>
                    <td>
                        <span>@Model.pair.data.name_2</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Circulating supply</span>
                    </td>
                    <td>
                        @if(Model.pair.data.price_1 == null)
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span>$@Model.pair.data.price_1</span>
                        }
                    </td>
                    <td>
                        @if(Model.pair.data.price_2 == null)
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span>$@Model.pair.data.price_2</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Max supply</span>
                    </td>
                    <td>
                        @if(Model.pair.coin1.max_supply == null)
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span>$@Model.pair.coin1.max_supply</span>
                        }
                    </td>
                    <td>
                        @if(Model.pair.coin2.max_supply == null)
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span>$@Model.pair.coin2.max_supply</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Cmc rank</span>
                    </td>
                    <td>
                        @if(Model.pair.coin1.cmc_rank == null)
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span>@Model.pair.coin1.cmc_rank</span>
                        }
                    </td>
                    <td>
                        @if(Model.pair.coin2.cmc_rank == null)
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span>@Model.pair.coin2.cmc_rank</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Volume 24h</span>
                    </td>
                    <td>
                        @if(Model.pair.coin1.volume_24h == null)
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span>$@Model.pair.coin1.volume_24h</span>
                        }
                    </td>
                    <td>
                        @if(Model.pair.coin2.volume_24h == null)
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span>$@Model.pair.coin2.volume_24h</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Percent change 24h</span>
                    </td>
                    <td>
                        @if(Model.pair.coin1.day_percent_change < 0)
                        {
                            <span class="dcg-value-down">@(Model.pair.coin1.day_percent_change)%</span>
                        }
                        else if (Model.pair.coin1.day_percent_change == null)
                        {
                            <span>-</span>
                        }
                        else
                        {
                            <span class="dcg-value-up">@(Model.pair.coin1.day_percent_change)%</span>
                        }
                    </td>
                    <td>
                        @if(Model.pair.coin2.day_percent_change < 0)
                        {
                            <span class="dcg-value-down">@(Model.pair.coin2.day_percent_change)%</span>
                        }
                        else if (Model.pair.coin2.day_percent_change == null)
                        {
                            <span>-</span>
                        }
                        else
                        {
                            <span class="dcg-value-up">@(Model.pair.coin2.day_percent_change)%</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Percent change 7d</span>
                    </td>
                    <td>
                        @if(Model.pair.coin1.week_percent_change == null)
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span class="dcg-value-up">@(Model.pair.coin1.week_percent_change)%</span>
                        }
                    </td>
                    <td>
                        @if(Model.pair.coin2.week_percent_change == null)
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span class="dcg-value-up">@(Model.pair.coin2.week_percent_change)%</span>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
