@using CryptoApi.Models.DB;
@model CCoinPairDataVM

<tr class="data-table__body-item dc-data-table__body-item-custom">
    <td class="data-table__body-item-cell">
        <div class="data-table__body-item-cell-wrap data-table__body-item-cell-wrap--left data-table__body-item-cell-wrap--pair">
            <a asp-controller="CoinPairs" asp-action="pair" asp-route-coin1="@Model.coin1.name" asp-route-coin2="@Model.coin2.name" class="coin-pairs-table__link">
                <div class="coin-pair-display">
                    <div class="coin-pair-display__icons coin-pair-display__icons--height">
                        <span
                        class="coin-icon coin-pair-display__icons-item coin-pair-display__icons-item--diagonal"
                        style="--size:32px;">
                            @if(Model.coin1.image == "")
                            {
                                <img src="/custom/img/letsexchange/table_line_coin_logo.svg" alt="@Model.coin1.name_full">
                            }
                            else
                            {
                                <img src="@Model.coin1.image" alt="@Model.coin1.name_full">  
                            }
                        </span> 
                        <span
                            class="coin-icon coin-pair-display__icons-item coin-pair-display__icons-item--diagonal"
                            style="--size:32px;">
                            @if(Model.coin2.image == "")
                            {
                                <img src="/custom/img/letsexchange/table_line_coin_logo.svg" alt="@Model.coin2.name_full">
                            }
                            else
                            {
                                <img src="@Model.coin2.image" alt="@Model.coin2.name_full">  
                            }
                        </span>
                    </div>
                    <div class="wrap">
                        <div class="coin-pair-display__text coin-pair-display__text--bold dc-coin-pair-display__text-custom">
                            <span>1</span> @Model.coin1.name
                            /
                            <span class="coin-pair-display__text coin-pair-display__text--grey coin-pair-display__text--light">@Model.coin2.name</span>
                        </div>
                        <div class="coin-pair-display__text coin-pair-display__text--name">
                            @Model.coin1.name_full
                            /
                            @Model.coin2.name_full
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </td>
    <td class="data-table__body-item-cell">
        <div class="data-table__body-item-cell-wrap data-table__body-item-cell-wrap--right data-table__body-item-cell-wrap--lastPrice">
            <div class="dual-value-display">
                <div class="dual-value-display__text">
                    @(Model.coin1.change_price == "0" ? "-": Model.coin1.change_price)
                    <span>@Model.coin1.name</span>
                </div>
                <div class="dual-value-display__text dual-value-display__text--secondary">
                    @(Model.coin2.change_price == "0" ? "-": Model.coin2.change_price)
                    <span>@Model.coin2.name</span>
                </div>
            </div>
        </div>
    </td>
    <td class="data-table__body-item-cell">
        <div class="data-table__body-item-cell-wrap data-table__body-item-cell-wrap--right data-table__body-item-cell-wrap--changePerc">
            <div class="trend-badge"><i class="svg-icon caret-icon"></i>
                @(Model.data.day_percent == "0" ? "-": Model.data.day_percent)
            </div>
        </div>
    </td>
    <td class="data-table__body-item-cell">
        <div class="data-table__body-item-cell-wrap data-table__body-item-cell-wrap--right data-table__body-item-cell-wrap--high24h">
            <div class="dual-value-display">
                <div class="dual-value-display__text">
                    @(Model.data.day_hight_1 == "0" ? "-": Model.data.day_hight_1)
                    <span></span>
                </div>
                <div class="dual-value-display__text dual-value-display__text--secondary">
                    @(Model.data.day_hight_2 == "0" ? "-": Model.data.day_hight_2)
                </div>
            </div>
        </div>
    </td>
    <td class="data-table__body-item-cell">
        <div class="data-table__body-item-cell-wrap data-table__body-item-cell-wrap--right data-table__body-item-cell-wrap--low24h">
            <div class="dual-value-display">
                <div class="dual-value-display__text">
                    @(Model.data.day_low_1 == "0" ? "-": Model.data.day_low_1)
                    <span></span>
                </div>
                <div class="dual-value-display__text dual-value-display__text--secondary">
                    @(Model.data.day_low_2 == "0" ? "-": Model.data.day_low_2)
                </div>
            </div>
        </div>
    </td>
    <td class="data-table__body-item-cell">
        <div class="data-table__body-item-cell-wrap data-table__body-item-cell-wrap--right data-table__body-item-cell-wrap--cap">
            <div class="dual-value-display">
                <div class="dual-value-display__text">
                    @(Model.coin1.market_cap == "0" ? "-": Model.coin1.market_cap)
                    <span></span>
                </div>
            </div>
        </div>
    </td>
    <td class="data-table__body-item-cell">
        <div class="data-table__body-item-cell-wrap data-table__body-item-cell-wrap--right data-table__body-item-cell-wrap--btn">
            <a href="/custom/exchange-pairs/micn/eur/info/"
                class="btn-link btn btn--link btn--depressed btn--primary btn-exchange coin-pairs-table__btn dc-btn-exchange-custom">
                <span class="btn__content">
                    Exchange
                </span>
            </a>
        </div>
    </td>
</tr>