@model CCoinVM
<div class="dc-coin-info dcg-tpg"> @*flex*@
    <table>
        <tr>
            <td>
                <span>Name</span>
            </td>
            <td>
                <span>@Model.coin.data.name_full</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Symbol</span>
            </td>
            <td>
                <span>@Model.coin.data.name</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Circulating supply</span>
            </td>
            <td>
                @if(Model.coin.data.circulating_supply == null)
                {
                    <span>-</span>   
                }
                else
                {
                    <span>$@Model.coin.data.circulating_supply</span>
                }
            </td>
        </tr>
        <tr>
            <td>
                <span>Max supply</span>
            </td>
            <td>
                @if(Model.coin.data.max_supply == null)
                {
                    <span>-</span>   
                }
                else
                {
                    <span>$@Model.coin.data.max_supply</span>
                }
            </td>
        </tr>
        <tr>
            <td>
                <span>Cmc rank</span>
            </td>
            <td>
                @if(Model.coin.data.cmc_rank == null)
                {
                    <span>-</span>   
                }
                else
                {
                    <span>$@Model.coin.data.cmc_rank</span>
                }
            </td>
        </tr>
    </table>
    @*/-----------------------------------------/*@
    <table>
        <tr>
            <td>
                <span>Volume 24h</span>
            </td>
            <td>
                @if(Model.coin.data.volume_24h == null)
                {
                    <span>-</span>   
                }
                else
                {
                    <span>$@Model.coin.data.volume_24h</span>
                }
            </td>
        </tr>
        <tr>
            <td>
                <span>Percent change 24h</span>
            </td>
            <td>
                @if(Model.coin.data.day_change < 0)
                {
                    <span class="dcg-value-down">@(Model.coin.data.day_change)%</span>
                }
                else if (Model.coin.data.day_change == null)
                {
                    <span>-</span> 
                }
                else
                {
                    <span class="dcg-value-up">@(Model.coin.data.day_change)%</span>
                }
            </td>
        </tr>
        <tr>
            <td>
                <span>Percent change 7d</span>
            </td>
            <td>
                @if(Model.coin.data.week_percent_change < 0)
                {
                    <span class="dcg-value-down">@(Model.coin.data.week_percent_change)%</span>
                }
                else if (Model.coin.data.week_percent_change == null)
                {
                    <span>-</span> 
                }
                else
                {
                    <span class="dcg-value-up">@(Model.coin.data.week_percent_change)%</span>
                }
            </td>
        </tr>
    </table>
</div>
