@using CryptoApi.ViewModels
@model CCoinPairVM
<div class="dc-coin-pair-info dcg-tpg"> @*flex*@
    <div class="row">
        <div class="col">
            <table> 
                <tr>
                    <td>
                        <span>Name</span>
                    </td>
                    <td>
                        <span>@Model.pair.data.name_full_1</span>
                    </td>
                    <td>
                        <span>@Model.pair.data.name_full_2</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Symbol</span>
                    </td>
                    <td>
                        <span>@Model.pair.data.name_1</span>
                    </td>
                    <td>
                        <span>@Model.pair.data.name_2</span> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Circulating supply</span>
                    </td>
                    <td>
                        @if(Model.pair.data.circulating_supply_1 == null || Model.pair.data.circulating_supply_1 == "")
                        {
                            <span>-</span>   
                        } 
                        else
                        {
                            <span>$@Model.pair.data.circulating_supply_1</span>
                        }
                    </td>
                    <td>
                        @if(Model.pair.data.circulating_supply_2 == null || Model.pair.data.circulating_supply_2 == "")
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span>$@Model.pair.data.circulating_supply_2</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Max supply</span>
                    </td>
                    <td>
                        @if(Model.pair.data.max_supply_1 == null || Model.pair.data.max_supply_1 == "")
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span>$@Model.pair.data.max_supply_1</span>
                        }
                    </td>
                    <td>
                        @if(Model.pair.data.max_supply_2 == null || Model.pair.data.max_supply_2 == "")
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span>$@Model.pair.data.max_supply_2</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Cmc rank</span>
                    </td>
                    <td>
                        @if(Model.pair.data.cmc_rank_1 == null)
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span>@Model.pair.data.cmc_rank_1</span>
                        }
                    </td>
                    <td>
                        @if(Model.pair.data.cmc_rank_2 == null)
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span>@Model.pair.data.cmc_rank_2</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Volume 24h</span>
                    </td>
                    <td>
                        @if(Model.pair.data.volume_24h_1 == null)
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span>$@Model.pair.data.volume_24h_1</span>
                        }
                    </td>
                    <td>
                        @if(Model.pair.data.volume_24h_2 == null)
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span>$@Model.pair.data.volume_24h_2</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Percent change 24h</span>
                    </td>
                    <td>
                        @if(Model.pair.data.day_percent_change_1 < 0)
                        {
                            <span class="dcg-value-down">@(Model.pair.data.day_percent_change_1)%</span>
                        }
                        else if (Model.pair.coin1.day_percent_change == null)
                        {
                            <span>-</span>
                        }
                        else
                        {
                            <span class="dcg-value-up">@(Model.pair.data.day_percent_change_1)%</span>
                        }
                    </td>
                    <td>
                        @if(Model.pair.data.day_percent_change_2 < 0)
                        {
                            <span class="dcg-value-down">@(Model.pair.data.day_percent_change_2)%</span>
                        }
                        else if (Model.pair.data.day_percent_change_2 == null)
                        {
                            <span>-</span>
                        }
                        else
                        {
                            <span class="dcg-value-up">@(Model.pair.data.day_percent_change_2)%</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Percent change 7d</span>
                    </td>
                    <td>
                        @if(Model.pair.data.week_percent_change_1 == null)
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span class="dcg-value-up">@(Model.pair.data.week_percent_change_1)%</span>
                        }
                    </td>
                    <td>
                        @if(Model.pair.data.week_percent_change_2 == null)
                        {
                            <span>-</span>   
                        }
                        else
                        {
                            <span class="dcg-value-up">@(Model.pair.data.week_percent_change_2)%</span>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
