@model (string image, IEnumerable<string> tags, string title, string text, string date, string link)

<div class="dc-news-sketch dcg-shadow-hover dcg-shadow-md">
    <div class="dc-news-sketch__image-wrapper">
        <img src="@Model.image" alt="news" loading="lazy">
    </div>
    <div class="dc-news-sketch__content-wrapper">
        <div class="dc-news-sketch__tags">
            @foreach (var tag in Model.tags)
            {
                <a href="#" class="dc-news-sketch__tag">
                    @tag
                </a>
            }
        </div>
        <h3 class="dcg-h3"> 
            @Model.title
        </h3>
        <div class="dc-news-sketch__text">
            @Model.text
        </div>
        <div class="dc-news-sketch__details">
            <div class="dc-news-sketch__date">
                <svg icon="calendar"></svg>
                <span>@Model.date</span>
            </div>
            <div class="dc-news-sketch__link">
                <a href="@Model.link">Read more</a>
                <svg icon="arrow-right-dark" class="dcg-icon-arrow-right"></svg>
            </div>
        </div>
    </div>
</div>
