@using CryptoApi.ViewModels
@inject IConfiguration conf
@model List<(string Url, string Title)>
@{
    string current_page = Context.Request.Query.ContainsKey("page") ? Context.Request.Query["page"] : "1";
}
@if (Model.Count > 1)
{
    <div class="dc-pagination">
        <ul class="dc-pagination__list">
            @foreach ((string Url, string Title) item in Model)
            {
                if (item.Title == current_page)
                {
                    <li class="dc-pagination__list-item-wrapper">
                        <span class="dc-pagination__item dc-pagination__item_active">
                            @item.Title
                        </span>
                    </li>
                }
                else
                {
                    <li class="dc-pagination__list-item-wrapper">
                        @if (Context.Request.Query.ContainsKey("filter"))
                        {
                            <a href="@(item.Url)&filter=@Context.Request.Query["filter"]" class="dc-pagination__item">
                                @item.Title
                            </a>
                        }
                        else
                        {
                            <a href="@item.Url" class="dc-pagination__item">
                                @item.Title
                            </a>
                        }
                    </li>
                }
            }
        </ul>
    </div>
}
